# temp files
*~
.swp

# others
__pycache__
.devcontainer
.private
.prv
.pyc
.python-version
.retry
.vagrant
.vault
.vscode
.DS_Store
*.log
/.idea/
/collections/
/venv/
/configs/k9s/benchmarks
/configs/k9s/screen-dumps
/configs/k9s/benchmarks
/configs/k9s/clusters
